{% extends 'base.html' %}
{% load static %}

{% block title%} VIEW {% endblock title%}
{% block body%}


<div class="container">
      
    <h2 id="snippets">Bollywood</h2>
      <div class="row">
          
        <div class="col-md-10 col-lg-8 p-b-30">
          <div class="p-r-10 p-r-0-sr991">
    
            <br>
            <br>
            <!-- Blog Detail -->
            <div class="p-b-70">
              <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                Entertaiment
              </a>
    
              <br>
              <br>
    
              <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                Top 5 Most Popular Bollywood Actresses in 2021
              </h3>
              
              <br>
              <br>
    
              <div class="wrap-pic-max-w p-b-30">
                <img src="{% static 'Alia-Bhatt-.jpg' %}" alt="IMG">
              </div>
    
              <br>
              <br>
              
    
              <p align = "justify" class="f1-s-11 cl6 p-b-25">
                
                If you want to know who are the most popular actresses in Bollywood, follow this list of the top 10 popular Bollywood actresses in 2021.

Bollywood is the world’s 2nd largest film industry as of now 2021 and it has produced an immense number of actors and actresses so far. While talking about Bollywood actresses, we have already mentioned the top sexiest Bollywood actresses in our last post. So, here we are going to discuss the 10 most popular Bollywood actresses in 2021.

The Bollywood actresses occupied in this list are arranged on the basis of their existing popularity in India as well as Overseas. So let’s have a look at this list and feel free to share your thoughts in the comment section.

Top 10 Most Popular Bollywood Actresses 2021

<br> 
<br> 
5. Disha Patani
Disha Patani- Top 10 Most Popular Bollywood Actresses

Disha Patani is one of the beautiful & hottest young Bollywood actresses who was born on 22 October 1988. She is also noted as the national crush of India. Her upcoming movie Radhe opposite of Salman Khan is among trending topics all over the internet. The movie is expected to release on 13 May 2021. Besides she always remains trending because of uploading hot photos and videos on her social media account. Some of her most successful movies include Malang, Baaghi film series, M.S. Dhoni: The Untold Story, and many others. No doubt, she is currently one of the popular Bollywood actresses in 2021.

<br> 
<br>

<div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'disha.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

4. Alia Bhatt 

 
Top 10 Most Popular Bollywood Actresses in India

Another deserving name in this list of top 10 popular Bollywood actresses is Alia Bhatt. She was born on 15 March 1993 in Mumbai, India. She started her Bollywood career with the blockbuster movie Student of the Year.

Alia is following the legacy by giving many successful movies like Highway, 2 states, Humpty Sharma Ki Dulhania, Dear Zindagi, Gully Boy, etc. And you can expect something much better from the young Alia in Upcoming years. Last year, a rumor about her link-up with Ranbir Kapoor become the headline of newspapers and all over the internet. Recently, she went on vacation with Ranbir Kapoor that also pulled so many people’s attention.

<br> 
<br>
<div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'Alia-Bhatt-.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

3. Shraddha Kapoor 
Top 10 Most Popular Bollywood Actresses in India

Shraddha Kapoor is the daughter of the leading villain in the Bollywood film industry Shakti Kapoor. That’s why she noted among the most beautiful daughters of Bollywood celebrities. She was born on 3 March 1989 in Mumbai.

Shraddha Kapoor initiated her career in the Bollywood film industry with a brief role in the film “Luv ka the End”. Her movie “Ashique2” got much fame in 2013 due to which she received the “Film Fare Award for Best Actress” in 2013. Her recent films like Street Dancer 3D, Baaghi 3, Chhichhore, Stree, have renewed her popularity as a popular Bollywood actress.

<br> 
<br>
<div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'shradda.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

2. Kangana Ranaut 
Top 10 Most Popular Bollywood Actresses in India

Kangana Ranaut was born on 23 March 1987 in Bhambla, a small town in Himachal Pradesh. She remains trending on the internet due to her dispute comments about politics, nepotism, etc.

It was the desire of her parents to make her a doctor but she was interested in modeling. To build the best career, she came to Delhi and selected as a model. And now she is one of the famous Bollywood heroines with a successful Bollywood career so far.


 
Kangana Ranaut has won two national film awards and a film fare award. Her first film is “Gangster” which was released in 2006. Because of her wonderful role in this movie, she got the “Film Fare Award for Best Female Debuts. Besides that, she got the best actress national award for the Queen in 2015. And now recently her Bollywood film Manikarnika: The Queen of Jhansi became a box office hit and given her another National Film Award.


<br> 
<br>
<div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'kangana.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>
1. Sonakshi Sinha 
Top 10 Most Popular Bollywood Actresses in India

Sonakshi Sinha is an Indian film actress and also a costume designer who was born on 2 July 1987 in Patna Bihar in India. She made her debut with the most popular movie “Dabangg” in 2010 which became the “Highest grossing Bollywood movie of the year”. And she gained excellent reviews from their fans and won a film fare award for the best female debut. Her other Bollywood films are Rowdy Rathore, Son of Sardar, Holiday: A Soldier is Never Off Duty, Akira, R… Rajkumar, Kalank, etc.
  
<br> 
<br>
<div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'sonakshi.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>
              </p>
    
              
    
          
                            
            
                        </div>
                        
                            
    
            
          </div>
        </div>
        
       
        </div>
      
  


{% endblock body%}