{% extends 'base.html' %}
{% load static %}
{% block title%} VIEW {% endblock title%}
{% block body%}
<div class="container">
      
    <h2 id="snippets">Bollywood</h2>
      <div class="row">
          
        <div class="col-md-10 col-lg-8 p-b-30">
          <div class="p-r-10 p-r-0-sr991">
    
            <br>
            <br>
            <!-- Blog Detail -->
            <div class="p-b-70">
              <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                Entertaiment
              </a>
    
              <br>
              <br>
    
              <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                Top 10 Bollywood Blogs In India
              </h3>
              
              <br>
              <br>
    
              <div class="wrap-pic-max-w p-b-30">
                <img src="{% static 'roy-2015-full-movie-hindi-bollyw.jpg' %}" alt="IMG">
              </div>
    
              <br>
              <br>
              
    
              <p align = "justify" class="f1-s-11 cl6 p-b-25">
                
                1. Movies Sans Frontiers
                If you are a viewer who looks at a movie and sees beyond what is portrayed on screen, this is the best website for you. Jugu Abraham, created this blog to write about good quality international cinema. Equipped with his travel experience and his passion and curiosity for movies, he worked as a film critic with the Hindustan Times group of publications at New Delhi from 1978 to 1985. You will find in depth reviews of the movies and performances in this blog. You can also know about all the awards a movie received in different countries. This extensive and handy knowledge really gives you food for thought.
                
                moviessansfrontiers

                <br>
                <br>
                <br>

                2. MissFilmy.com
                When we talk about the best rated bollywood news portal, MissFIlmy.com is a force to reckon with. The popular bollywood website captures the latest bollywood news, celebrity gossip, movie ratings, movie trailers, music videos and web series. MissFilmy is widely popular among masses for its movie release calendar which not only covers the latest in bollywood and web series but also tollywood, mollywood, kollywood, pollywood & sandalwood. Apart from listing out the release date & starcast, release platform information is also provided. Web is updated daily and keeps viewers hooked.
                
                <br>
                <br>
                <br>

                3. A Potpourri of Vestiges
                Here you will find all the information about thought-provoking movies, international film award functions and film festivals with special focus on indie, art house, and classic cinema. Because of their phenomenal and incredible content, they have been able to make a mark despite the sea of movie blogs present on the internet. They have also won many awards for their amazing work like the prestigious BlogAdda Award, Directory of Best Indian Blogs etc. You can see movie reviews, essays, critiques and much more over here.
                
                A Potpourri of Vestiges_movie blog
                
                Read More: Top Short Story Blogs in India
                
                <br>
                <br>
                <br>

                4. Movie Reviews By Binduc
                In this blog, you will find reviews of all the latest movies made in India in different languages. These reviews will help you ascertain the worth of the movie by giving you all the information you need to know related to it. You get to know in detail about the cast, director and story of the movie. Bindu C also comments on the previous works of the director and the actors to give us a reference about what we can expect in the movie. Visit this blog for getting accurate ratings and exceptional reviews. Bindu C also talks about various interesting issues which you deal in everyday life like social media, emotions, and nature etc.
                
                movie reviews by bindu
                
                <br>
                <br>
                <br>
                 5. Gaurav’s Movie Reviews
                Here you will find reviews of movies ranging from Bollywood to Hollywood. You will also find excellent reviews of episodes of assorted TV series like Criminal Minds, Vampire Diaries, and The Big Bang Theory and so on. You can watch the latest trailers and get all the information regarding them. Visit this blog to save yourself the trouble of watching any type of bad cinema and wasting your precious time.
                
                
                <br>
                <br>

                
                 6.  Mad About Moviez
                They are in love with all types of cinemas without any form of discrimination. In their blog, they discuss anything and everything related to cinema ranging from Tarantino, Kurosawa, Satyajit Ray, Manmohan Desai, Mani Ratnam etc. They have also explored the indie films and regional cinema area where not many people enter. Their thrilling contests keep the viewers hooked and give them a chance to feel a part of the blog. Their exciting blog offers videos, reviews, Madaboutmoviez specials and much more, due to which we can truly see that movies is their passion and they are mad about it.
                
                mad about moviez
                <br>
                <br>

                7. Blog to Bollywood
                Here you will get all the latest Bollywood entertainment news in a single place. They have all the information about Bollywood that you will need like box office collections, movie reviews, music reviews, videos, first looks, movie trailers and so on. They will even satisfy your gossip hunger through their section Bollywood Bakar. This blog arms you with so much information about Bollywood that it can work as your ticket to Bollywood.
                
                blog to bollywood
                
                <br>
                <br>
                8. Home of Movie Reviews
                This is the perfect blog for you if you want to be the first person to know about all the movie happenings. This is a one stop destination where you will find all the latest movie trailers and movie reviews. You will also find comprehensive information with the movie trailers. The movie reviews are written in a tone with which you can relate and are extremely interesting and contain all the information which will tell you if a movie is worth watching or not. This is truly the home of all the Bollywood as well as Hollywood movie reviews and trailers because Ravi Varsha Jain sees everything with the eyes of a movie lover.
                
                home of movie reviews
                
                Read More: Top Poetry Blogs in India 
                
                <br>
                <br>
                9. Dilseben
                The tagline of this blog is Dil Se Reviews. And after viewing this blog you can truly feel the love and passion that has gone in creating it. The reviews are written in such a style that reflects a fondness for movies of the author. You will find reviews for various movies made in India in different languages. The reviews help you a lot in getting to know the movie and deciding if it is worth watching it or not. The ratings given are always accurate and given without any biases and are something you can trust.
                
                dilseben

                <br>
                <br>

                
                10. Eat Pray Love Movies
                Mansi Dutta started this blog to satisfy her passion for movies. Her entertainment columns in Times of India and Times City speak for themselves.  Her Bollywood and Hollywood movie reviews are something to look forward to.  If you think that you have seen your favourite movie a hundred times and stalk your favourite actor religiously, take the Friday Quiz and test your knowledge.  Her passion for movies comes across through this blog and it is evident that she lives and breathes motion pictures.
                
                
               
              </p>
    
              
    
          
                            
            
                        </div>
                        
                            
    
            
          </div>
        </div>
        
       
        </div>
      
       

{% endblock body%}