{% extends 'base.html' %}
{% load static %}

{% block title%} VIEW {% endblock title%}
{% block body%}


<div class="container">
      
  <h2 id="snippets">Bollywood</h2>
    <div class="row">
        
      <div class="col-md-10 col-lg-8 p-b-30">
        <div class="p-r-10 p-r-0-sr991">
  
          <br>
          <br>
          <!-- Blog Detail -->
          <div class="p-b-70">
            <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
              Entertaiment
            </a>
  
            <br>
            <br>
  
            <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
              Top Rated Kannada Movies
            </h3>
            
            <br>
            <br>
  
            <div class="wrap-pic-max-w p-b-30">
              <img src="{% static '1596887556_kannada-movies.webp' %}" alt="IMG">
            </div>
  
            <br>
            <br>
            
  
            <p align = "justify" class="f1-s-11 cl6 p-b-25">
              
              Ondu Motteya Kathe (Netflix)

              Battling the stigma of being a balding man as well as a vernacular language professor, Janardhan readies himself for his life as an ascetic, as predicted by the astrologer. Unfortunately, just chanting ‘moha, moha’ won’t rid him of worldly temptations. His search for a beautiful woman continues, and he is cannot get rid of the temptation. Debutant director Raj B. Shetty also appears in the lead role of this film that was later remade in Hindi as Ujda Chaman. His condition is such that the audience will find it funny but sympathise with him simultaneously. His attempts to gain confidence from Kannada matinee idol Rajkumar’s are some of the most entertaining scenes.
              
              <br>
              <br>
              <br>
              <div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'ondhu.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>
            
            
          
              Love Mocktail (ZEE5)
              
              The film starts with a comic mood, and but ends on an emotional note, leaving you with a feeling that’s somber and satisfying in equal parts. Travelling is a sure shot way of feeling good, and this film’s story is narrated while the protagonist Aadi (Krishna) is driving through scenic roads in a coastal region. There are lots of aerial shots showing the sunlight reflecting on sea water, coconut trees waving in the breeze as Aadi drives with Aditi (Rachana Inder) who is extremely curious about his love stories. Starting with his adolescence, Aadi narrates the various experiences he went through each time he fell in love. Rachana Inder will win you heart with her bubbly demeanour. The music by Raghu Dixit is an added bonus in this relatable film full of comedy and romance.
              
              <br>
              <br>
              <div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'Love-Mocktail.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

              Katheyondu Shuruvagide (Amazon Prime Video)
              
              Another film that relies on the travel theme, Katheyondu Shuruvagide shows its protagonist Tarun as a resort owner. Things aren't going great for him, as the resort is running in losses. His life changes when Tanya comes to stay at his resort. She is supposed to be on her honeymoon, but life has dealt her a hard blow and she is making an attempt to move on. Trips usually help when you are trying to forget the past and move on in life. That’s exactly what Tanya attempts, and has Tarun to help her through it. The Senna Hegde directorial will reignite the wanderlust in you with beautiful shots of driving through the seaside, sunny beaches and quaint homes. The romance between the elderly couple Shashank and Radha is also heartwarming to watch.
              <br>
              <br>
              <div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'kathe.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

              
              Mundina Nildana (Amazon Prime Video)
              
              This film shows multiple road trips through scenic locales as the protagonist narrates his life’s journey in search of love. The title serves as an indication for the next destination on one’s journey as well as in one’s life. (Partha) Praveen Tej quits his software engineering job to follow his passion of photography. But he battles commitment phobia, having grown up in a broken family. The film deals with modern day issues about career, purpose of life, love and relationships. While the characters are extremely relatable, the long drives will make you miss your road trips with friends. Every frame of this movie is picture-perfect, much like the frames of the photos clicked by Partha. There are lovely song and dance sequences too, which make this a fully enjoyable experience.
              <br>
              <br>
              <div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'mundina.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>

              
              Chamak (Disney+ Hotstar)
              
              The film will have you laughing from the get go. With Kannada cinema’s ‘Golden Star’ Ganesh in the lead Chamak is a romantic comedy that will leave you in splits in multiple scenes. Ganesh plays the role of free-spirited gynaecologist Kush who loves his bachelor life. He dupes Kushi (Rashmika Mandanna) into thinking he is a simpleton. Kush and Kushi get married and then starts a game of pretense that takes hilarious turns. They realize both of them are very similar people, but the false impressions anger them and almost wrecks their marriage. Right from the quirky introduction of the lead actor to the funny detailing of each character, the film is a total entertaine
               <div class="wrap-pic-max-w p-b-50">
                  <img src="{% static 'chamak.jpg' %}" alt="IMG">
                </div>
                <br>
                <br>
             
            </p>
  
            
  
        
                          
          
                      </div>
                      
                          
  
          
        </div>
      </div>
      
     
      </div>
    


{% endblock body%}