{% extends 'base.html' %}
{% load static %}

{% block title%} VIEW {% endblock title%}
{% block body%}


<div class="container">
      
    <h2 id="snippets">Bollywood</h2>
      <div class="row">
          
        <div class="col-md-10 col-lg-8 p-b-30">
          <div class="p-r-10 p-r-0-sr991">
    
            <br>
            <br>
            <!-- Blog Detail -->
            <div class="p-b-70">
              <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                Entertaiment
              </a>
    
              <br>
              <br>
    
              <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                10 Bollywood Celebrities Addicted To Drugs
              </h3>
              
              <br>
              <br>
    
              <div class="wrap-pic-max-w p-b-30">
                <img src="{% static 'drugs.jpg' %}" alt="IMG">
              </div>
    
              <br>
              <br>
              
    
              <p align = "justify" class="f1-s-11 cl6 p-b-25">
                
                1. Ranbir Kapoor

The Rockstar and Saawariya actor has reportedly admitted in an interview with India Today that he did weed and marijuana on a regular basis when he was in acting school. He also admitted to being high for some scenes in his epic movie Rockstar so that the scenes would look more real.


<br>
<br> 


2. Fardeen Khan

The son of immensely talented and famous Feroz Khan, Fardeen was set on a golden path right from the beginning. Call it bad luck, destiny or just the lack of talent of the man that instead of making headlines for his acting career, he made it big after being caught with a small quantity of cocaine in the Juhu area of Mumbai back in 2001.


Ad by Valueimpression


<br>
<br> 
3. Vijay Raaz


He was once considered a great actor with a lot of talent, and potential. But the actor who shot to fame from Choti Ganga and Kauwa Biryani took an unexpected detour when he was held in Dubai airport for possession of marijuana in 2005.


<br>
<br> 

4. Sanjay Dutt


The Munna Bhai of Bollywood has had his fair share of drug related controversies in the past. The most notable one was back in 1982, when he was still a rising star, Sanjay Dutt was caught in possession of drugs post which he was sent to the US by his father for rehab. He later told that there was a time when he had done every drug that there was.




<br>
<br> 
5. Gauri Khan

Drugs aren’t limited to the males of the industry only. Gauri, wife of Shah Rukh Khan, was held in Berlin airport because she was carrying a small amount of marijuana. She was later set free when it was agreed that it was for her personal consumption, whatever that means.



<br>
<br> 

6. Parveen Babi


Parveen Babi had a career full of controversies and was always in the limelight, even after her untimely demise. It is said that after her breakup with Mahesh Bhatt, the serene actress became addicted to LSD.

<br>
<br> 


7.

Rahul Mahajan is the son of former union minister, Pramod Mahajan. Regretfully, he seems to have done everything he can to spoil his name, from participating in a Swayamvara, beating his wife, and being found overdosed on cocaine.



<br>
<br> 
8. Angad Bedi

The son of one of the most esteemed Indian cricketer Bishan Singh Bedi, Angad Bedi was rumored to be present in the rave party in Mumbai in which many other celebrities were also caught doing drugs. Call it a coincidence but his last movie also portrayed him getting high in a rave party and trying to molest a girl; makes us wonder whether he is trying to make a career out of rave parties.


<br>
<br> 

9. Apurva Agnihotri and Shilpa Agnihotri

Remember how it was mentioned above that Angad Bedi was rumored to be found abusing drugs at a rave party? Well, this off-screen television couple was also caught there; also consuming illegal drugs. Talk about love in the modern times.

<br>
<br> 


10. Manisha Koirala

If you just started thinking when the last time you saw Manisha Koirala was, after reading her name here then, let me tell you that there was a reason for her absence. Apparently, all the attention and limelight didn’t go down well with her and she fell into the dark life of drugs abuse which not only destroyed her career but also affected her life. She has come a long way now recovering from ovarian cancer and becoming an anti-drug delegate alongside Sanjay Dutt.

<br>
<br> 
              </p>
    
              
    
          
                            
            
                        </div>
                        
                            
    
            
          </div>
        </div>
        
       
        </div>
      
  



{% endblock body%}