{% extends 'base.html' %}
{% load static %}
{% block title%} VIEW {% endblock title%}
{% block body%}
<div class="container">
      
<h2 id="snippets">Bollywood</h2>
  <div class="row">
      
    <div class="col-md-10 col-lg-8 p-b-30">
      <div class="p-r-10 p-r-0-sr991">

        <br>
        <br>
        <!-- Blog Detail -->
        <div class="p-b-70">
          <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
            Entertaiment
          </a>

          <br>
          <br>

          <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
            MEGA EXCLUSIVE: Hrithik Roshan-Saif Ali Khan starrer Vikram Vedha remake to release on September 30, 2022
          </h3>
          
          <br>
          <br>

          <div class="wrap-pic-max-w p-b-30">
            <img src="{% static 'MEGA-EXCLUSIVE-Hrithik-Roshan-Saif-Ali-Khan-starrer-Vikram-Vedha-remake-to-release-on-September-30-2022-1.jpg' %}" alt="IMG">
          </div>

          <br>
          <br>
          

          <p align = "justify" class="f1-s-11 cl6 p-b-25">
            
MEGA EXCLUSIVE: Hrithik Roshan-Saif Ali Khan starrer Vikram Vedha remake to release on September 30, 2022
ByFenil SetaCreated: Jul 10, 2021 - 10:59 AM ISTUpdated: Jul 10, 2021 - 11:18 PM IST
Superstar Hrithik Roshan wowed one and all and showed his box office prowess with War. Produced by Yash Raj Films, this action thriller, also starring Tiger Shroff, earned more than Rs. 300 crore at the box office. Hrithik was loved in the massy avatar and it made everyone wait with bated breath for his next venture.

#Hrithik RoshanMEGA EXCLUSIVE Hrithik Roshan-Saif Ali Khan starrer Vikram Vedha remake to release on September 30, 2022

Photos: Deepika Padukone, Hrithik Roshan and Kartik Aaryan snapped at Sanjay Leela Bhansali's office in JuhuPhotos: Hrithik Roshan snapped in JuhuPhotos: Preity Zinta snapped at Hrithik Roshan's house in JuhuHrithik Roshan snapped with his family and Zayed Khan at PVR JuhuPhotos: Hrithik Roshan snapped with his family and Zayed Khan at PVR JuhuPhotos: Hrithik Roshan arrives at Commissioner Of Police Office in MumbaiHrithik Roshan arrives at Commissioner Of Police Office in MumbaiPhotos: Hrithik Roshan, Sussanne Khan, Tejas Thackeray and Rashmi Thackeray snapped at Sanjay Khan’s bungalow in Juhu for private dinner
Next
However, the actor took his time to sign his next. On his birthday this year, on January 10, he announced that he'll be seen in War director's next, Fighter, co-starring Deepika Padukone. On the other hand, media also reported that Hrithik Roshan has bagged the Hindi remake of the acclaimed Tamil film, Vikram Vedha. It was also said that he'll be sharing screen space with none other than Saif Ali Khan


Bollywood Hungama has now exclusively learnt that the remake is very much happening and that its release date has also been fixed. A source says, "The makers have decided to release Vikram Vedha remake on September 30, 2022. The film goes on floors soon and the team of the film is confident that it'll be ready by then. Also, it’s a great date since Gandhi Jayanti (October 2) and Dussehra (October 5) both fall in the release week. This would ensure healthy footfalls translating into superb box office numbers."

The remake would be directed by Gayatri and Pushkar, the director duo of the original film. Interestingly, Fighter was originally scheduled for release on September 30, 2022. But it seems that its release date would now be deferred. Whether it comes before or after Vikram Vedha remake remains to be seen.

Vikram Vedha’s original version was released in 2017 and starred R Madhavan and Vijay Sethupathi. It told the story of a cop who is trying to catch a criminal and what happens next.
          </p>

          

      
                        
        
                    </div>
                    
                        

        
      </div>
    </div>
    
   
    </div>
  
   
  
    
  
  

{% endblock body%}